:root {
    --main: rgb(65, 124, 179);
    --main-hover: rgb(157, 194, 228);
    --white: rgb(255, 255, 255);
    --white-opacity-9: rgb(255, 255, 255,.9);
    --black: rgb(0, 0, 0);
    --black-opacity-5: rgb(0, 0, 0,.8);
    --black-opacity-3: rgb(0, 0, 0,.3);
    --gray: #F0F0F0;
    --gray-opacity-8: rgb(240, 240, 240,.8);
    --gray-heavy: #cfcfcf;
    --sub: #8f8f8f;
    --section-height: max(30vh, 300px);
    --section-tag-fs:1.375rem;
    --section-tag-arrow:calc((var(--section-tag-fs) * 1.5) / 2);
    --section-tag-fs-lg:2rem;
    --section-tag-lg-arrow:calc((var(--section-tag-fs-lg) * 1.5) / 2);
    --nav-width:max(200px,13%);
}

body {
    background-color: var(--gray);
}

a {
    text-decoration: none;
}

header .nav-link {
    color: var(--white);
    font-weight: 700;
    font-size: clamp(24px, 3vw, 16px);
}
header .dropdown-toggle:focus,
header .dropdown-toggle:hover {
    color: var(--white);
}

.btn {
    white-space: nowrap;
}
.btn-main {
    color: var(--white);
    background-color: var(--main);
}

.section-h {
    height: var(--section-height);
}

.obj-fit-cover {
    object-fit: cover;
}

ol,
li {
    list-style: none;
}

textarea {
    resize: none;
}

.daily-list .list-group-item {
    display: flex;
}

.section-tag {
    width: fit-content;
    position: relative;
    background-color: var(--black);
    font-size: var(--section-tag-fs);
    padding-left: 16px;
    padding-right: 6px;
    margin-bottom: 0;
    font-weight: 700;
    color: var(--white);
    line-height: 1.5;
    vertical-align: middle;
}

.section-tag::after {
    content: '';
    position: absolute;
    top: 0;
    right: -1.03rem;
    height: 100%;
    border-top: var(--section-tag-arrow) solid transparent;
    border-bottom: var(--section-tag-arrow) solid transparent;
    border-left: var(--section-tag-arrow) solid var(--black);
}

.section-tag.tag-lg {
    font-size: var(--section-tag-fs-lg);
}

.section-tag.tag-lg::after {
    content: '';
    position: absolute;
    top: 0;
    right: calc(var(--section-tag-fs-lg) * -1);
    height: 100%;
    width: var(--section-tag-fs-lg);
    color: var(--black);
    clip-path: polygon(0 0,50% 50%,0% 100%);
}

.btn,
.card,
.card-img-top,
.list-group,
.modal-content,
.dropdown-menu,
.input-group-text,
.form-control,
.pagination,
.page-item:last-child .page-link,
.page-item:first-child .page-link {
    border-radius: 0 ;
}

.reg-form .input-group{
    border: 1px solid var(--black);
}

.w-5 {
    width: 5%;
}
.w-10 {
    width: 10%;
}

.w-15 {
    width: 15%;
}

.w-20 {
    width: 20%;
}

.w-30 {
    width: 30%;
}

.w-35 {
    width: 35%;
}
.w-fit-content {
    width: fit-content;
}
.text-collapse {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.modal-footer {
    border-top: 0;
}
.w-fit-content {
    width: fit-content;
}
.input-group-text:not(.reg-error-info) {
    color: var(--white);
    background-color: var(--main);
    border-color: var(--main);
}

.reg-form .form-control {
    border-right: 0;
}

.reg-form .form-control:focus,
.add-survey-form .form-control:focus,
.edit-survey-form .form-control:focus{
    box-shadow: 0 0 0 0 transparent;
    border-color:#ccc;
}

.btn-sheet-tag {
    position: relative;
    display: inline-block;
    background-color: var(--gray);
    font-size: 1.5rem;
    border: 1px solid var(--black);
    margin-bottom: -1px;
    z-index: 1;
}
.btn-sheet-tag.active {
    position: relative;
    display: inline-block;
    background-color: var(--gray);
    font-size: 1.5rem;
    border: 1px solid var(--black);
    border-bottom: 1px solid var(--gray-heavy);
    margin-bottom: -1px;
    z-index: 1;
}

.list-group.list-group-container {
    min-height: 590px;
}

.btn-sheet-tag:hover {
    font-weight: 700;
    background-color: var(--gray);
    border: 1px solid var(--black);
}
.btn-sheet-tag.active:hover {
    font-weight: 700;
    background-color: var(--gray);
    border: 1px solid var(--black);
    border-bottom: 1px solid var(--gray-heavy);
}

.btn-sheet-tag.active:hover {
    z-index: 1;
}

.float-right {
    float: right;
}
.float-left {
    float: left;
}

.clearfix {
    clear: both;
}

.member-input {
    height: 0;
    overflow: hidden;
    transition:  0.25s;
}

.member-add-btn {
    display: inline-block;
    vertical-align: bottom;
    opacity:0;
    max-width: 0;
    overflow: hidden;
    transform: translateX(-2rem);
    transition: 0.25s;
}

.vote-icon {
    width: 1rem;
    height: 1rem;
}

.z-index-1{
    z-index: 1;
}
.del-member-btn{
    top: 15%;
    width: 1rem;
    height: 1rem;
}
.del-member-btn::before{
    color: var(--main);
    width: 1rem;
    height: 1rem;
}
.del-member-btn:hover::before{
    color: var(--black);
}
.swal2-popup,
.swal2-styled {
    border-radius: 0 !important;
}
.back-btn {
    color: var(--black);
}
.back-btn:hover {
    color: var(--main);
}

.readonly,
.readonly:focus{
    background-color: var(--gray-heavy);
}

.survey-tag {
    cursor: auto;
    background-color: var(--main);
    color: var(--white);
}
.survey-tag:hover,
.survey-tag:active {
    background-color: var(--main)!important; 
    color: var(--white)!important;
    border-color: var(--main)!important;
}
.border-sub {
    border-color: var(--sub);
}

.text-main {
    color: var(--main);
}

.text-sub {
    color: var(--sub);
}

.text-dark {
    color: var(--black);
}

.form-control::file-selector-button,
.form-control::-webkit-file-upload-button {
    color: var(--white);
    background-color: var(--main);
}

.page-item.active > .page-link {
    background-color: var(--main);
    border-color: var(--main);
}

.form-control:hover:not(:disabled):not([readonly])::file-selector-button {
    color: var(--black);
}

.info{
    display: flex;
    justify-content: center;
    top: 0;
    width: 100%;
    height: 100%;
    padding-top: 10vh;
    backdrop-filter: blur(2px);
}

.auth-info {
    background-color: var(--gray-opacity-8);
}

.auth-info-block {
    background-color: var(--gray);
}

.chart {
    max-width: 1200px;
    min-width: 450px;
}

.vote-survey-form {
    min-height: 350px;
}
.btn-main:hover {
    background-color: var(--main-hover);
}

.btn.disable {
    display: inline-block;
    position: relative;
    cursor: auto;
    font-family: 'Font Awesome 6 Free';
    line-height: 1.5;
    font-weight: 900;
}
.btn.disable::after {
    content: "\f05e";
    position: absolute;
    padding: 15%;
    top: 0;
    left: 0;
    background-color: var(--black-opacity-3);
    height: 100%;
    width: 100%;
    z-index: 1;
}
.btn.disable:hover {
    background-color: var(--main);
    color: var(--white);
}

.popover {
    background-color: var(--white-opacity-9);
}


.daily-list .daily-list-item::-webkit-scrollbar {
    display: none;
}

.daily-list .daily-list-item{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.dash-board-text {
    font-size: 5rem;
}

.data-card {
    width: max(190px,10vw);
    aspect-ratio: 1;
    border: 1px solid var(--black);
}

.admin-nav {
    top: 0;
    left: 0;
    height: 100%;
    width: var(--nav-width);
    z-index: 120;
}

.nav-space {
    width: var(--nav-width);
}
@media screen and (max-width:1520px) {
    .admin.container-xxl {
        width: calc(100% - var(--nav-width));
    }
}

@media screen and (min-width:768px) {
    .reg-form,
    .add-survey-form,
    .edit-survey-form,
    .survey-info {
        width: 80%;
    }
}
@media screen and (min-width:960px) {
    .reg-form,
    .add-survey-form,
    .edit-survey-form,
    .survey-info {
        width: 50%;
    }
}
